<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../vendor/autoload.php">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
            <exclude>
                <file>../src/defaults.php</file>
            </exclude>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="all">
            <testsuite name="money">
                <file>Config/ConfigTest.php</file>
                <file>Client/ClientTest.php</file>
                <file>Text/TextTest.php</file>
                <file>Table/CreateTest.php</file>
                <file>Table/GetTest.php</file>
                <file>Table/DiffTest.php</file>
                <file>JsonCall/CommonTest.php</file>
                <file>JsonCall/TableTest.php</file>
                <file>File/FileTest.php</file>
                <file>Router/RouterTest.php</file>
                <file>Resource/ResourceTest.php</file>
                <file>DB/MysqliTest.php</file>
                <file>Tpl/TplTest.php</file>
                <file>Image/ImageTest.php</file>
            </testsuite>
        </testsuite>
    </testsuites>
</phpunit>
